.menu{
  font-family: Roboto;
  display: flex;
  align-items: center;
}
.main-content__subtitle{
  font-family: Roboto;
}
.main-content__button{
  font-family: Roboto;
}
.logo{
  /*padding: 40px 0;*/
  /*font: bold 24px/31px 'pt_serifregular',arial,helvetica,sans-serif;*/
  width: 190px;
  height: 35px;
  /*border: dashed 1px red;*/
  background: url('img/logo');
}
.main-content__title{
  font-family: 'PT Serif';
}

body{
  margin: 0;
}
.header, .main__section{
  padding: 40px 0;
  margin: auto;
  width: 80%;
}
.header{
  display: flex;
  justify-content: space-between;
}
.menu__item{
  padding: 0 13px;
}
.menu__item:last-child{
  padding-right: 0;
}
